{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "react",
        "prettier",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "jasmine": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "jsx-max-props-per-line": 1,
                "useTabs": true,
                "tabWidth": 4
            }
        ],
        "no-case-declarations": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "all",
                "ignoreRestSiblings": false
            }
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/unbound-method": "off",
        "react/display-name": "off",
        "react/prop-types": [
            2,
            {
                "ignore": [
                    "children"
                ]
            }
        ]
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}